# do daily/weekly/monthly maintenance
# min    hour     day      month    weekday    command
* * *  * * echo "working..." >> /var/log/cron.log 2>&1
* * *  * * run-parts /etc/periodic/1min/ >> /var/log/cron.log 2>&1
*/15 * * * * run-parts /etc/periodic/15min/ >> /var/log/cron.log 2>&1
*/30 * * * * run-parts /etc/periodic/30min/ >> /var/log/cron.log 2>&1
0  * * * * run-parts /etc/periodic/hourly/ >> /var/log/cron.log 2>&1
0  */12 * * * run-parts /etc/periodic/12hour/ >> /var/log/cron.log 2>&1
0  2 * * * run-parts /etc/periodic/daily/ >> /var/log/cron.log 2>&1
0  3 * * 6 run-parts /etc/periodic/weekly/ >> /var/log/cron.log 2>&1
0  5 1 * * run-parts /etc/periodic/monthly/ >> /var/log/cron.log 2>&1
